@charset "utf-8";

/* 레파지토리 리스트 */
.product_list {position:relative;margin-bottom:20px;width:100%;border-top:2px #5a5e67 solid;border-bottom:1px #cbcdcf solid;}
.product_list > li {padding:15px 0 0 0;border-bottom: 1px dashed #d6d8dc;}
.product_list > li:last-child {border-bottom:0}
.product_list > li:hover {background-color:#f0f2f3;}
.product_list > li dl {position:relative;min-height:95px;margin-bottom:10px;padding:10px 0 0 100px;}
.product_list > li dt {margin-bottom:10px;font-size:24px;color:#212224;font-weight:500;width:60%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.product_list > li dd {position:relative;margin-bottom:6px;}
.product_list > li dd ul:nth-child(2) {position:absolute;top:0;}
.product_list > li dd li {float: left;position:relative;margin-bottom:4px;}
.product_list > li dd .sbj_txt {float: left;display:inline-block;width:100%;margin-right:12px;color:#666;width:60%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.product_list > li dd .stateArea {display:inline-block;width:100%;margin-top:5px;padding-left:1px;color:#888a8d;letter-spacing:-0.6px;}
.product_list > li dd .stateArea a {color:#888a8d;}
.product_list > li dd .stateArea a:hover {color:#4799ef;}
.product_list > li dd .stateArea .ico_update {background:url('../images/ico_update.png') 0 50% no-repeat; padding-left:18px; }
.product_list > li dd .stateArea .ico_create {background:url('../images/ico_create.png') 0 50% no-repeat; padding-left:18px;}
.product_list > li dd .stateArea .ico_modify {background:url('../images/ico_modify.png') 0 50% no-repeat; padding-left:18px;}
.product_list > li .thmb_img {float: left;text-align: center;position:absolute;top:20px;left:15px;width:52px;height:52px;}
.product_list > li .thmb_img img {width:52px;height:52px;}
.product_list > li .icon_wrap {position:absolute;right:10px;top:25%;margin:0;height:55px;}
.product_list > li .icon_wrap .ico_lst {margin-left: 20px;overflow: hidden;}
.product_list > li .icon_wrap .ico_lst li {float: left;text-align: center;border-bottom:0;width: auto;padding:0 25px;}
.product_list > li .icon_wrap .ico_lst li .ico_area {float: left;display:block;text-align: center;}
.product_list > li .icon_wrap .ico_lst li .tit {font-size: 12px;color: #8a8a8a;letter-spacing: -.5px;line-height: 24px;}
/* 레파지토리 리스트(dt에 이미지 없을 경우) */
.product_list2 {position:relative;margin-bottom:20px;width:100%;border-top:2px #8e919a solid;border-bottom:1px #cbcdcf solid;}
.product_list2 > li {padding:15px 0 0 0;border-bottom: 1px dashed #d6d8dc;}
.product_list2 > li:last-child {border-bottom:0;}
.product_list2 > li:hover {background-color:#f0f2f3;}
.product_list2 > li dl {position:relative;min-height:85px;margin-bottom:10px;padding:10px 0 0 15px;}
.product_list2 > li dt {margin-bottom:10px;font-size:20px;color:#212224;font-weight:500;width:60%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.product_list2 > li dd {position:relative;margin-bottom:6px;}
.product_list2 > li dd ul:nth-child(2) {position:absolute;top:0;}
.product_list2 > li dd li {float: left;position:relative;margin-bottom:4px;}
.product_list2 > li dd .sbj_txt {float: left;display:inline-block;width:100%;margin-right:12px;font-size:15px;color:#666;width:60%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.product_list2 > li dd .stateArea {display:inline-block;width:100%;margin-top:5px;padding-left:1px;color:#888a8d;letter-spacing:-0.6px;}
.product_list2 > li dd .stateArea a {color:#888a8d;}
.product_list2 > li dd .stateArea a:hover {color:#4799ef;}
.product_list2 > li dd .stateArea .ico_update {background:url('../images/ico_update.png') 0 50% no-repeat; padding-left:18px; }
.product_list2 > li dd .stateArea .ico_create {background:url('../images/ico_create.png') 0 50% no-repeat; padding-left:18px;}
.product_list2 > li dd .stateArea .ico_modify {background:url('../images/ico_modify.png') 0 50% no-repeat; padding-left:18px;}
.product_list2 > li .thmb_img {float: left;text-align: center;position:absolute;top:20px;left:15px;width:52px;height:52px;}
.product_list2 > li .thmb_img img {width:52px;height:52px;}
.product_list2 > li .icon_wrap {position:absolute;right:10px;top:25%;margin:0;height:55px;}
.product_list2 > li .icon_wrap .ico_lst {margin-left: 20px;overflow: hidden;}
.product_list2 > li .icon_wrap .ico_lst li {float: left;text-align: center;border-bottom:0;width: auto;padding:0 25px;}
.product_list2 > li .icon_wrap .ico_lst li .ico_area {float: left;display:block;text-align: center;}
.product_list2 > li .icon_wrap .ico_lst li .tit {font-size: 12px;color: #8a8a8a;letter-spacing: -.5px;line-height: 24px;}
.product_list2 > li .btn_wrap {position:absolute;right:10px;top:25%;margin:0;height:55px;line-height:55px;}

/* 리스트(공통) */
.basic_tbl {width:100%; margin-bottom:20px;border-spacing:0;border-collapse: collapse;-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);}
.basic_tbl:after {clear: both;content: "";display: block;}
.basic_tbl thead th a {text-decoration:none; color:#fff;}
.basic_tbl thead th a:hover {text-decoration:none; color:#71c7fe; }
.basic_tbl thead th {color:#fff;font-weight:500;padding:6px 10px; background:#838791;height:28px;line-height:18px;}
.basic_tbl thead tr.ad_head {background:#F9F9F9;color:#32343b;padding:6px 10px; border-top:2px solid #0ea4e6;border-bottom:1px solid #c7c7cf;height:28px;line-height:18px;}
.basic_tbl tbody tr:hover {background:#f7f7f9;color:#32343b;}
.basic_tbl td a:hover {text-decoration:underline; color:#1380f2;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.basic_tbl td {color:#555;padding:8px 10px; border-bottom:1px solid #e6e6e6;height:26px; line-height:18px; text-align:center;}
.basic_tbl tbody td.col_td {width:100%;padding:10px;text-align:left;}
.basic_tbl td .ico_folder {display:inline-block;background:url("../images/board_ico_folder.png") no-repeat left 50%; padding-right:7px;width:26px;height:21px;vertical-align:middle;}
.basic_tbl td .ico_file {display:inline-block;background:url("../images/board_ico_file.png") no-repeat left 50%; margin-left:25px;padding-right:7px;width:19px;height:21px;vertical-align:middle;}

/* 설명박스 */
.tema_view {position:relative;width:100%; margin-bottom:20px;box-sizing:border-box;-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);}
.tema_view h5 {font-size:13px;font-weight:500;line-height:21px; padding:9px 0 10px 20px; color:#fff;margin:0; position:relative;background:#838791;}
.tema_view h5 .r_data {float:right;font-size:13px;font-weight:500;line-height:21px; padding-right:15px; color:#fff;margin:0;}
.tema_view .tema_view_inner {padding:20px}
.tema_view .tema_view_inner h2 {color:#333; font-size:27px;font-weight:600; line-height: 1.2; margin:0 0 15px 0; text-align:left;}
.tema_view_inner dl {margin-bottom:15px;}
.tema_view_inner dt {margin:15px 0 2px 0;color:#4c4f55;font-size:17px;font-weight:600;line-height:23px;}
.tema_view_inner dd {background:url("../images/ico_dot_gray.gif") no-repeat 0px 10px;padding-left:10px;line-height:1.7;color:#666;}
.tema_view_inner dd:last-child {margin-bottom:7px;}
.tema_view_inner dd a:hover {color:#1987fa;}
.tema_view_inner dd.s_exm {background:none;padding-left:12px;}
.tema_view_inner ul {width:100%;}
.tema_view_inner ul li {border-top:1px dotted #c2c2c2; padding:50px 0; text-align:center;}
.tema_view_inner ul li:first-child {border-top:0; padding:25px 0 50px 0;}
.tema_view_inner ul li div {overflow:hidden; width:100%; text-align:left;}
.tema_view_inner ul li div img {display:block; margin:15px auto; width:auto; max-width:100%;} 
.tema_view_inner ul li div.toggle_box a {border:0; padding:0; text-decoration:underline; color:#1289dd !important;}
.codebox_area {width:100%; margin-bottom:20px;box-sizing:border-box;border:1px solid #e0e0e4;outline: 0;float:left;}
.codebox_area .code_contents {overflow-x: hidden;overflow-y: scroll;height:420px;max-height:500px;outline: 0;position: relative;padding:15px 5px 15px 15px;line-height:27px;-webkit-font-smoothing: subpixel-antialiased;}

/* Form table(기본) */
.tbl_form {width:100%;margin-bottom:20px; padding-bottom:10px;border-top:2px solid #8e919a; border-bottom:1px solid #cfcfd1; table-layout:fixed; border-collapse: separate;}
.tbl_form h3 {font-size: 18px;color:#43474d;font-weight:600;}
.tbl_form th {padding:15px 5px 5px 0;text-align:left;color:#5e6064; font-size: 12.5px;font-weight:600;vertical-align: top;*vertical-align: top;}
.tbl_form tbody th.f_title {padding:10px 0 8px 0;text-align:left; font-size:15px;color: #43474d;font-weight:600;border-bottom: 1px dashed #d1d6db;box-sizing:border-box;}
.tbl_form tbody td {padding:10px 5px 0px 0;vertical-align: middle;text-align:left;color:#666;}
.tbl_form td label {vertical-align:middle;padding-right:15px;}
.tbl_form input[type="text"], .tbl_form input[type="password"] {width:50%;padding-right:4px}
.tbl_form select {width:auto;margin-right:3px;}
.tbl_form textarea {margin: 5px 0;padding: 6px;width: 98%;min-height: 110px;line-height: 19px;border-radius:3px;overflow: hidden;overflow-y: auto;resize: both;}
.tbl_form input[type=radio], .tbl_form input[type=checkbox] {width:13px; height:13px; margin-right: 5px; vertical-align: middle; }
.tbl_form td ul {margin:0; padding:10px 0;}
.tbl_form td li {line-height:35px;}
.tbl_form td li input[type="text"] {width:50%;}
.tbl_form td .right_btn {float:right;}
.tbl_form td.controlbox {padding-top:6px;}
.tbl_form td.controlbox dl {padding: 15px 10px 10px 15px;width:99%;background:#f4f5f6;border: 1px dotted #dbdde1;box-sizing:border-box;}
.tbl_form td.controlbox dt {margin-bottom:10px;font-weight:600;}
.tbl_form td.controlbox dd {padding:5px 0;}
.tbl_form td .sm_tit {float: left;width:90px;background:url('../images/ico_dot_gray.gif') left center no-repeat;padding-left:12px;}
.tbl_form td.controlbox dd input[type="text"] {width:50%;}
.tbl_form td img {vertical-align:middle;margin-left:4px;}
.tbl_form td .file_input_textbox {float:left; width: 83%;}
.tbl_form tbody th.last {display:block;top:0}
.tbl_form .desc {font-size: 11px;color: #888;padding:8px 0 12px 0}

/* Form table(박스형태) */
.tbl_form02 {width:100%;margin-bottom:20px;table-layout:fixed;border-collapse:separate;background:#f8f9fa; border:1px dashed #d3d8dd;border-radius:6px;padding:15px 25px 15px 25px;}
.tbl_form02 h3 {font-size: 18px;color:#43474d;font-weight:600;}
.tbl_form02 th {padding:17px 0 0 0;text-align:left;color:#5e6064; font-size: 12.5px;font-weight:600;vertical-align: top;*vertical-align: top;}
.tbl_form02 tbody th.f_title {padding:0px 0 8px 0;text-align:left; font-size:17px;color: #696e7e;font-weight:600;box-sizing:border-box;}
.tbl_form02 tbody td {padding:10px 5px 0 0;vertical-align: middle;text-align:left;color:#666;}
.tbl_form02 tr:last-child {bottom:-15px;}
.tbl_form02 td label {vertical-align:middle;padding-right:15px;}
.tbl_form02 input[type="text"], .tbl_form02 input[type="password"] {width:50%;padding-right:4px}
.tbl_form02 select {width:auto;margin-right:3px;}
.tbl_form02 textarea {margin: 5px 0;padding: 6px;width: 98%;min-height: 110px;line-height: 19px;border-radius:3px;overflow: hidden;overflow-y: auto;resize: both;}
.tbl_form02 input[type=radio], .tbl_form02 input[type=checkbox] {width:13px; height:13px; margin-right: 5px; vertical-align: middle; }
.tbl_form02 td ul {margin:0; padding:10px 0;}
.tbl_form02 td li {line-height:35px;}
.tbl_form02 td li input[type="text"] {width:50%;}
.tbl_form02 td .right_btn {float:right;}
.tbl_form02 td.controlbox {padding:0;}
.tbl_form02 td.controlbox dl {margin-top:6px;padding: 12px 10px 10px 15px;width:99%;background:#fff;border: 1px solid #a6c6e6;box-sizing:border-box;border-radius:4px;}
.tbl_form02 td.controlbox dt {margin-bottom:10px;font-size:14px;font-weight:600;}
.tbl_form02 td.controlbox dd {padding:5px 0;}
.tbl_form02 td .sm_tit {float: left;width:80px;background:url('../images/ico_dot_gray.gif') left center no-repeat;padding-left:10px;}
.tbl_form02 td.controlbox dd input[type="text"] {width:50%;}
.tbl_form02 td img {vertical-align:middle;margin-left:4px;}
.tbl_form02 td .file_input_textbox {float:left; width: 83%;}
.tbl_form02 tbody th.last {display:block;top:0}
.tbl_form02 .desc {font-size: 11px;color: #888;padding:8px 0 12px 0}
.essential {color:#fb5666; font-size: 12px;font-weight:500;}
